@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.SalesAddBlock {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  &__text {
  }
}

.SalesBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Sale {
  width: 22.4rem;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-top: 2rem;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background: $white;
  overflow: hidden;

  &__image {
  }

  &__action {
    position: absolute;
    top: 0;
    right: 0;
    background: #fbfbfb;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px;
    z-index: 10;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;

    &-btn {
      background: $white;
      border: 0rem;
      justify-content: center;
      align-items: center;
    }
  }

  &__name {
    margin: 1rem;
  }

  &__date {
    display: flex;
    flex-direction: row;
    margin: 0rem 1rem;
    padding-bottom: 1rem;

    &-img {
      padding-right: 0.5rem;
    }
  }
}

@include mobile-sm {
  .SalesBlock {
    display: flex;
    flex-direction: column;
  }

  .Sale {
    width: 85%;
    margin-right: 0rem;
  }
}
@include mobile-md {
  .SalesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Sale {
    width: 85%;
    margin-right: 0rem;
  }
}

@include desktop {
  .SalesBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .Sale {
    width: 22.4rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }
}
