@import "../../../common/sass/mixins";
@import "../../../common/sass//variables";

.Tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0.75rem;
  width: 21rem;

  // background: rgba(100, 148, 0, 0.05);

  border: 1px solid #f6f6f7;
  cursor: pointer;

  &__quantitySection {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-img {
      // width: 1rem;
      height: 0.85rem;
      padding-right: 0.3rem;
    }

    &-text {
      color: $main_green;
    }
  }

  &__titleSection {
    width: 13rem;
  }

  &__title {
    font-weight: 300;
    justify-self: start;
  }

  &__messageImg {
    // width: 1rem;
    height: 1rem;
    cursor: pointer;
    margin-right: 0.5rem;
  }
}

.close {
  height: 1.3rem;
}

.Tile:hover {
  background: rgba(100, 148, 0, 0.05);
}
