@import "../../../../common/sass/mixins";
@import "../../../../common/sass/variables";

.NewProduct {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 15px;
  &_row {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.mr30 {
  margin-right: 30px;
}

.add {
  width: 14px;
  height: 14px;
}

.text {
  margin-left: 10px;
}

.clickable {
  cursor: pointer;
  transition-duration: 300ms;
  &:hover {
    transition-duration: 300ms;
    opacity: 0.7;
  }
}

.ProductNameWithDelete {
  display: flex;
  &_trash {
    justify-self: start;
    align-self: start;
    width: 14px;
    transition-duration: 300ms;
    &:hover {
      transition-duration: 300ms;
      opacity: 0.6;
    }
  }
}

.Adittional {
  &_item {
    width: 344px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(217, 217, 217, 0.5);
    padding-bottom: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 300ms;
    &:hover {
      transition-duration: 300ms;
      opacity: 0.6;
    }
    &_name {
      font-size: 20px;
    }
    &_trash {
      width: 14px;
    }
  }
}

.AdditionalBlock {
  height: 15rem;
  overflow-y: scroll;
  &_additionalPicker {
    align-content: center;
    margin: 20px;

    &_name {
      font-size: 16px;
    }
    &_catName {
      font-size: 20px;
    }
    &_img {
      width: 14px;
      height: 14px;
    }
    &_child {
      &_picker {
        margin: 10px;
        transition-duration: 300ms;
        &:hover {
          transition-duration: 300ms;
          opacity: 0.6;
        }
        cursor: pointer;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@include tablet {
  .NewProduct {
    height: 89vh;
  }
}

@include desktop {
  .NewProduct {
    height: 85vh;
    &_row {
      flex-direction: row;
      align-content: center;
      &_col {
        &:not(:first-child) {
          margin-left: 50px;
        }
      }
    }
  }
}
