.NewProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  padding: 15px;
}

.NewProduct_row {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mr30 {
  margin-right: 30px;
}

.add {
  width: 14px;
  height: 14px;
}

.text {
  margin-left: 10px;
}

.clickable {
  cursor: pointer;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.clickable:hover {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  opacity: 0.7;
}

.ProductNameWithDelete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ProductNameWithDelete_trash {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 14px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.ProductNameWithDelete_trash:hover {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  opacity: 0.6;
}

.Adittional_item {
  width: 344px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(217, 217, 217, 0.5);
  padding-bottom: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.Adittional_item:hover {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  opacity: 0.6;
}

.Adittional_item_name {
  font-size: 20px;
}

.Adittional_item_trash {
  width: 14px;
}

.AdditionalBlock {
  height: 15rem;
  overflow-y: scroll;
}

.AdditionalBlock_additionalPicker {
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 20px;
}

.AdditionalBlock_additionalPicker_name {
  font-size: 16px;
}

.AdditionalBlock_additionalPicker_catName {
  font-size: 20px;
}

.AdditionalBlock_additionalPicker_img {
  width: 14px;
  height: 14px;
}

.AdditionalBlock_additionalPicker_child_picker {
  margin: 10px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.AdditionalBlock_additionalPicker_child_picker:hover {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .NewProduct {
    height: 89vh;
  }
}

@media (min-width: 1200px) {
  .NewProduct {
    height: 85vh;
  }
  .NewProduct_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .NewProduct_row_col:not(:first-child) {
    margin-left: 50px;
  }
}
/*# sourceMappingURL=newProduct.css.map */