.Items__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 25vw;
  position: relative;
  margin: 20;
  margin-right: 5vw;
  margin-bottom: 5vh;
}

.Order__user {
  margin-bottom: 2vh;
}

.Order__price {
  color: #649400;
}

.Order__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Order__top-avatar {
  width: 10%;
  border-radius: 5px;
}

.Order__top-nameprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.7vw;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.Order__statusbutton {
  width: 9rem;
  height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  color: #649400;
  position: absolute;
  right: 0;
  padding: 10px;
  margin: 0;
}

.Order__bottom {
  margin-top: 4%;
}

.Order__location {
  margin-top: 4%;
}

.Order__separator {
  border: 1px solid rgba(217, 217, 217, 0.5);
  width: 100%;
  margin: 5% 0;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4vh;
  width: 90%;
  padding-left: 15px;
  padding-right: 30px;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 1.25vh;
  border-width: 1;
  border-color: #649400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.checkedCircle {
  height: 0.6vh;
  width: 2.5vh;
  border-radius: 1.5vh;
  background-color: #649400;
}

@media (max-width: 349px) {
  .Items__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1vh;
    margin-left: 3vw;
    max-width: 100%;
    font-size: 0.8rem;
  }
  .Order__top-avatar {
    width: 25%;
  }
  .Order__top-nameprice {
    margin-left: 4%;
  }
  .Order__statusbutton {
    width: 5rem;
    font-size: 0.5rem;
  }
  .Order__separator {
    margin: 5% 0;
  }
  .checkedCircle {
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background-color: #649400;
  }
}

@media (min-width: 350px) {
  .Items__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1vh;
    margin-left: 3vw;
    max-width: 100%;
    font-size: 0.9rem;
  }
  .Order__top-avatar {
    width: 25%;
  }
  .Order__top-nameprice {
    margin-left: 6%;
  }
  .Order__statusbutton {
    width: 6.5rem;
    font-size: 0.8rem;
  }
  __separator {
    margin: 5% 0;
  }
}

@media (min-width: 1200px) {
  .OrdersBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1rem;
  }
  .Order {
    width: 32%;
  }
  .Order__top-avatar {
    width: 15%;
  }
  .Order__statusbutton {
    width: 7rem;
  }
}
/*# sourceMappingURL=Delivery.css.map */