@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

//Delivery

.Items__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

//OrderBlock

//OrderInfoCard Component
.Order {
  display: flex;
  flex-direction: column;
  max-width: 25vw;
  position: relative;
  margin: 20;
  margin-right: 5vw;
  margin-bottom: 5vh;

  &__user {
    margin-bottom: 2vh;
  }

  &__price {
    color: $main_green;
  }

  &__top {
    display: flex;
    flex-direction: row;

    &-avatar {
      width: 10%;
      border-radius: 5px;
    }

    &-nameprice {
      display: flex;
      flex-direction: column;
      margin-left: 0.7vw;
      align-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &__statusbutton {
    width: 9rem;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    color: $main_green;
    position: absolute;
    right: 0;
    padding: 10px;
    margin: 0;
  }

  &__bottom {
    margin-top: 4%;
  }

  &__location {
    margin-top: 4%;
  }

  &__separator {
    border: 1px solid rgba(217, 217, 217, 0.5);
    width: 100%;
    margin: 5% 0;
  }
}

// Modal Status Value
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4vh;
  width: 90%;
  padding-left: 15px;
  padding-right: 30px;
}

.circle {
  display: flex;
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 1.25vh;
  border-width: 1;
  border-color: $main_green;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkedCircle {
  height: 0.6vh;
  width: 2.5vh;
  border-radius: 1.5vh;
  background-color: $main_green;
}

@include mobile-sm {
  .Items__wrapper {
    display: flex;
    flex-direction: row;
  }

  .Order {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    margin-left: 3vw;
    max-width: 100%;

    font-size: 0.8rem;
    &__top {
      &-avatar {
        width: 25%;
      }

      &-nameprice {
        margin-left: 4%;
      }
    }
    &__user {
    }

    &__statusbutton {
      width: 5rem;
      font-size: 0.5rem;
    }

    &__separator {
      margin: 5% 0;
    }
  }

  .checkedCircle {
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background-color: $main_green;
  }
}

@include mobile-md {
  .Items__wrapper {
    display: flex;
    flex-direction: row;
  }

  .Order {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    margin-left: 3vw;
    max-width: 100%;
    font-size: 0.9rem;

    &__top {
      &-avatar {
        width: 25%;
      }

      &-nameprice {
        margin-left: 6%;
      }
    }

    &__statusbutton {
      width: 6.5rem;
      font-size: 0.8rem;
    }
  }

  &__separator {
    margin: 5% 0;
  }
}

@include desktop {
  .OrdersBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
  }
  .Order {
    width: 32%;

    &__top {
      &-avatar {
        width: 15%;
      }
    }

    &__statusbutton {
      width: 7rem;
    }
  }
}
