@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.DishesBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Dish {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
  position: relative;
  width: 25%;

  &__image {
    border-radius: 20px;
    height: 20vh;
    width: 20vw;
  }

  &__title {
    padding-top: 1.5vh;
  }

  &__subtitle {
    margin-top: 1.5vh;
  }

  &__price {
    margin-top: 1.5vh;
    color: $main_green;
  }

  &__action {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  &__delete {
    width: 3vw;
    height: 5vh;
    background: $white;
    border: 1px solid rgba(217, 217, 217, 0.5);
    margin: 0;
    border-radius: 0px 15px;
    overflow: hidden;
  }

  &__delete-icon {
    z-index: 10;
  }

  &__separator {
    width: 100%;
    border: 1px solid rgba(217, 217, 217, 0.5);
  }
}

@include mobile-sm {
  .DishesBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .DishesTop {
    display: flex;
    flex-direction: row;

    &__edit-btn {
      width: 35vw;
      height: 6vh;
      align-self: center;
      padding: 0px 10px;
      margin-left: 10px;
    }
  }

  .Dishes {
    &__actions {
      &-addWrapper {
        padding: 1rem;
        padding-top: 0;
      }
      &-add-product {
        width: 90%;
        background: $white;
        border: 1px solid rgba(217, 217, 217, 0.5);
        margin: 0;
        border-radius: 15px;
        overflow: hidden;
        color: $black;
      }

      &-removeWrapper {
        padding: 1rem;
      }
      &-rm-category {
        width: 90%;
        background: $white;
        border: 1px solid rgba(217, 217, 217, 0.5);
        margin: 0;
        border-radius: 15px;
        overflow: hidden;
        color: $black;
      }
    }
  }

  .Dish {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    &__mainInfo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 75%;
    }

    &__image {
      width: 6rem;
      border-radius: 5px;
      padding-left: 10px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      height: 4rem;
    }

    &__action {
      height: 2rem;
      width: 2rem;
    }

    &__title {
      padding: 0;
    }

    &__delete {
      height: 2rem;
      width: 2rem;
    }
  }
}

@include mobile-md {
  .DishesTileWrapper {
    padding-left: 10px;
    padding-right: 10px;
    &_picked {
      border: 1px solid $main_green;
    }
  }
  .DishesTop {
    display: flex;
    flex-direction: row;

    &__edit-btn {
      width: 35vw;
      height: 6vh;
      align-self: center;
      padding: 0px 10px;
    }
  }
  .DishesBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .Dishes {
    &__actions {
      &-addWrapper {
        padding: 1rem;
        padding-top: 0;
      }
      &-add-product {
        width: 90%;
        background: $white;
        margin: 0;
        overflow: hidden;
        color: $black;
      }

      &-removeWrapper {
        padding: 1rem;
        padding-top: 0;
      }
      &-rm-category {
        width: 90%;
        background: $white;

        margin: 0;

        overflow: hidden;
        color: $black;
      }
    }
  }
  .Dish {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    &__mainInfo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 75%;
    }

    &__image {
      width: 6rem;
      border-radius: 5px;
      padding-left: 10px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      height: 4rem;
    }

    &__action {
      height: 2rem;
      width: 2rem;
    }
    &__delete {
      height: 2rem;
      width: 2rem;
    }

    &__title {
      padding: 0;
    }
  }
}

@include desktop {
  .DishesTop {
    display: flex;
    flex-direction: row;
  }

  .Dishes {
    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;

      &-add-img {
        height: 1rem;
      }

      &-add-product {
        width: 12rem;
        padding: 0px 10px;
        background: $white;
        color: $black;
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
      }
      &-removeWrapper {
        display: flex;
        justify-content: center;
      }
      &-rm-img {
        height: 1.3rem;
        align-self: center;
      }
      &-rm-category {
        width: 13rem;
        padding: 0px 10px;
        background: $white;
        color: $black;
        box-shadow: 0px 0px 0px rgb(255, 255, 255);
      }
    }
  }

  .DishesBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
  }

  .Dish {
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 15rem;
    position: relative;

    &__mainInfo {
      display: flex;
      flex-direction: column;
    }

    &__image {
      width: 18rem;
      border-radius: 20px;
      padding: 0;
      margin: 0;
    }

    &__info {
      display: flex;
    }

    &__title {
      padding-top: 1.5vh;
    }
  }
}
