.DishesBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5vw;
  position: relative;
  width: 25%;
}

.Dish__image {
  border-radius: 20px;
  width: 20vw;
}

.Dish__title {
  padding-top: 1.5vh;
}

.Dish__subtitle {
  margin-top: 1.5vh;
}

.Dish__price {
  margin-top: 1.5vh;
  color: #649400;
}

.Dish__action {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.Dish__delete {
  width: 3vw;
  height: 5vh;
  background: #ffffff;
  border: 1px solid rgba(217, 217, 217, 0.5);
  margin: 0;
  border-radius: 0px 15px;
  overflow: hidden;
}

.Dish__delete-icon {
  z-index: 10;
}

.Dish__separator {
  width: 100%;
  border: 1px solid rgba(217, 217, 217, 0.5);
}

@media (max-width: 349px) {
  .DishesBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .DishesTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .DishesTop__edit-btn {
    width: 35vw;
    height: 6vh;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0px 10px;
    margin-left: 10px;
  }
  .Dish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
    width: 100%;
    margin-bottom: 2vh;
  }
  .Dish__image {
    width: 20vw;
    border-radius: 5px;
    padding-left: 10px;
  }
  .Dish__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33%;
    margin-right: 25vw;
  }
  .Dish__title {
    padding: 0;
  }
  .Dish__action {
    width: 10vw;
    height: 5vh;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .Dish__delete {
    width: 10vw;
    height: 5vh;
  }
  .Dish__separator {
    position: absolute;
    bottom: -15px;
    width: 100%;
    border: 1px solid rgba(217, 217, 217, 0.5);
  }
}

@media (min-width: 350px) {
  .DishesTileWrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .DishesTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .DishesTop__edit-btn {
    width: 35vw;
    height: 6vh;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0px 10px;
  }
  .DishesBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .Dish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
    width: 100%;
    margin-bottom: 2vh;
  }
  .Dish__image {
    width: 20vw;
    border-radius: 5px;
    padding-left: 10px;
  }
  .Dish__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33%;
    margin-right: 25vw;
  }
  .Dish__title {
    padding: 0;
  }
  .Dish__action {
    width: 15%;
    height: 15%;
  }
  .Dish__delete {
    width: 10vw;
    height: 5vh;
  }
  .Dish__separator {
    position: absolute;
    bottom: -15px;
    width: 100%;
    border: 1px solid rgba(217, 217, 217, 0.5);
  }
}

@media (min-width: 1200px) {
  .DishesTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Dishes__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  .Dishes__actions-add-img {
    height: 1rem;
  }
  .Dishes__actions-add-product {
    width: 12rem;
    padding: 0px 10px;
    background: #ffffff;
    color: #303030;
    -webkit-box-shadow: 0px 0px 0px white;
            box-shadow: 0px 0px 0px white;
  }
  .Dishes__actions-removeWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Dishes__actions-rm-img {
    height: 1.3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .Dishes__actions-rm-category {
    width: 13rem;
    padding: 0px 10px;
    background: #ffffff;
    color: #303030;
    -webkit-box-shadow: 0px 0px 0px white;
            box-shadow: 0px 0px 0px white;
  }
  .DishesBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 90%;
  }
  .Dish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 21vw;
    position: relative;
    margin-right: 5vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    top: 0;
  }
  .Dish__image {
    width: 20vw;
    border-radius: 20px;
  }
  .Dish__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .Dish__title {
    padding-top: 1.5vh;
  }
  .Dish__action {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
  }
  .Dish__delete {
    width: 3vw;
    height: 5vh;
  }
  .Dish__delete-icon {
    z-index: 10;
  }
}
/*# sourceMappingURL=Dishes.css.map */