@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.Status {
  padding: 5px 10px;
  width: 10rem;
  height: 7rem;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;

  color: $black;
}

.DishesTileWrapper_picked {
}

.Status:focus {
  color: $main_green;
  border-color: $main_green;
  border-width: 1px;
}

.ItemTileWrapper {
  display: flex;
  flex-direction: row;
  max-width: 90%;

  &__edit-btn {
    width: 12rem;
    height: 2rem;
    align-self: flex-start;
    padding: 0px 10px;
  }

  &__add-btn-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

@include mobile-sm {
  .Status {
    width: 5rem;
    height: 2rem;
    margin: 0.5rem;
    margin-top: 1rem;
  }
}

@include mobile-md {
  .Status {
    // width: 5rem;
    height: 2rem;
  }
}

@include desktop {
  .Status {
    // width: 9rem;
    // height: 2rem;
  }
}

@include mobile-sm {
  .ItemTileWrapper {
    width: 90vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-left: 4vw;

    &__add-btn-wrapper {
      display: flex;
      margin-left: 20px;
      align-items: center;
    }

    &__addcategory-btn {
      width: 10rem;
      background: $white;
      color: $black;
      box-shadow: 0px 0px 0px rgb(255, 255, 255);
      margin: 0;
      padding: 0;
    }

    &__addcategory-btn-image {
      height: 1rem;
    }
  }
}

@include mobile-md {
  .ItemTileWrapper {
    width: 90vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-left: 4vw;

    &__add-btn-wrapper {
      display: flex;
      margin-left: 20px;
      align-items: center;
    }

    &__addcategory-btn {
      width: 10rem;
      background: $white;
      color: $black;
      box-shadow: 0px 0px 0px rgb(255, 255, 255);
      margin: 0;
      padding: 0;
    }

    &__addcategory-btn-image {
      height: 1rem;
    }
  }
}

@include desktop {
  .ItemTileWrapper {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    align-items: center;

    &__add-btn-wrapper {
      display: flex;
      margin: 0 20px;
      align-items: center;
    }

    &__addcategory-btn {
      width: 13rem;
      background: $white;
      color: $black;
      box-shadow: 0px 0px 0px rgb(255, 255, 255);
      margin: 0;
      padding: 0;
    }

    &__addcategory-btn-image {
      height: 1rem;
    }

    &__info-btn-wrapper {
      display: flex;
      align-items: center;
    }
    &__info-btn {
      width: 15rem;
      background: $white;
      color: $black;
      margin: 0rem;
      padding: 0rem;
      border: 0rem;
      box-shadow: 0px 0px 0px rgb(255, 255, 255);
    }
    &__info-btn-image {
      height: 1rem;
    }
  }
}
