.Status {
  padding: 5px 10px;
  width: 10rem;
  height: 4rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #303030;
}

.Status:focus {
  color: #649400;
  border-color: #649400;
  border-width: 1px;
}

.ItemTileWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 90%;
}

.ItemTileWrapper__edit-btn {
  width: 12rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0px 10px;
}

.ItemTileWrapper__add-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 349px) {
  .Status {
    width: 24vw;
  }
}

@media (min-width: 350px) {
  .Status {
    width: 24vw;
  }
}

@media (min-width: 1200px) {
  .Status {
    width: 9rem;
    height: 2rem;
  }
}

@media (max-width: 349px) {
  .ItemTileWrapper {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: auto;
    margin-left: 4vw;
  }
}

@media (min-width: 350px) {
  .ItemTileWrapper {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: auto;
    margin-left: 4vw;
  }
}

@media (min-width: 350px) and (min-width: 1200px) {
  .ItemTileWrapper {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: hidden;
  }
  .ItemTileWrapper__add-btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ItemTileWrapper__addcategory-btn {
    width: 14rem;
    background: #ffffff;
    color: #303030;
    -webkit-box-shadow: 0px 0px 0px white;
            box-shadow: 0px 0px 0px white;
    margin: 0;
    padding: 0;
  }
  .ItemTileWrapper__addcategory-btn-image {
    height: 1rem;
  }
}
/*# sourceMappingURL=ItemTile.css.map */