@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.Main {
  display: flex;
  flex-direction: row;
}

@include tablet {
  .Main {
    &_content {
      padding-left: 30px;
    }
  }
}
