@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.News {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.New {
  background-color: #fff;
  align-self: center;
  display: flex;
  width: 95vw;
  margin: 15px 0px 15px 1px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  &_image {
    margin: 10px;
    height: 50px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    padding: 0px 5px 10px 5px;
    border-radius: 5px;
  }
  &_info {
    margin-top: 10px;
    &_name {
      font-size: 14px;
      @include font-light;
      font-weight: 600;
    }
    &_desc {
      margin-top: 10px;
      max-height: 20px;
      overflow: hidden;
      @include font-light;
      font-weight: 300;
      transition: max-height 0.15s ease-out;
      &_open {
        max-height: none;
        margin-bottom: 10px;
      }
    }
  }
}

@include tablet {
  .News {
    height: 91vh;
    width: 83vw;
  }
  .New {
    align-self: start;
    width: 79vw;
    &_info {
      &_desc {
        max-height: 73px;
        &_open {
          max-height: none;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@include desktop {
  .News {
    height: 89vh;
    width: 83.5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    .New {
      width: 40.5vw;
      margin: 15px 15px 15px 1px;
    }
  }
}
