.News {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
}

.New {
  background-color: #fff;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  margin: 15px 0px 15px 1px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.New_image {
  margin: 10px;
  height: 50px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  padding: 0px 5px 10px 5px;
  border-radius: 5px;
}

.New_info {
  margin-top: 10px;
}

.New_info_name {
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-weight: 600;
}

.New_info_desc {
  margin-top: 10px;
  max-height: 20px;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-weight: 300;
  -webkit-transition: max-height 0.15s ease-out;
  transition: max-height 0.15s ease-out;
}

.New_info_desc_open {
  max-height: none;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .News {
    height: 91vh;
    width: 83vw;
  }
  .New {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    width: 79vw;
  }
  .New_info_desc {
    max-height: 73px;
  }
  .New_info_desc_open {
    max-height: none;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .News {
    height: 89vh;
    width: 83.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .News .New {
    width: 40.5vw;
    margin: 15px 15px 15px 1px;
  }
}
/*# sourceMappingURL=News.css.map */