@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.Menu {
  width: 200px;
  display: none;
  flex-direction: column;
  height: 100vh;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

  &_items {
    display: flex;
    flex-direction: column;
    height: 100%;

    &_down {
      justify-content: flex-end;
    }

    &_item {
      &:hover {
        opacity: 1;
        transition-duration: 300ms;
        // background-color: #f7faf2;
      }
      transition-duration: 300ms;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: row;
      padding-top: 1.7vh;
      padding-bottom: 1.7vh;
      opacity: 0.6;
      padding-left: 1.04vw;
      text-decoration: none;
      &_icon {
        width: 3vw;
      }
      &_name {
        margin-left: 1.04vw;
        font-size: 1.4vh;
        color: $main_green;

        &_disabled {
          color: $disabled_grey;
        }
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2.43vh;

  &_icon {
    width: 3.33vw;
  }
}

.splitter {
  align-self: center;
  height: 0.069vh;
  width: 13.19vw;
  background-color: #cccccc;
  opacity: 0.5;
}

@include tablet {
  .Menu {
    display: flex;
  }
}

@include desktop {
  .Menu {
    &_items {
      &_item {
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        &_name {
          font-size: 1.94vh;
          margin-left: 1.04vw;
        }
        &_icon {
          width: 2.08vw;
        }
      }
    }
  }
}
