.Menu {
  width: 200px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.Menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.Menu_items_down {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Menu_items_item {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1.7vh;
  padding-bottom: 1.7vh;
  opacity: 0.6;
  padding-left: 1.04vw;
  text-decoration: none;
}

.Menu_items_item:hover {
  opacity: 1;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.Menu_items_item_icon {
  width: 3vw;
}

.Menu_items_item_name {
  margin-left: 1.04vw;
  font-size: 1.4vh;
  color: #649400;
}

.Menu_items_item_name_disabled {
  color: #bdbdbd;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.43vh;
}

.header_icon {
  width: 3.33vw;
}

.splitter {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 0.069vh;
  width: 13.19vw;
  background-color: #cccccc;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .Menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .Menu_items_item {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
  }
  .Menu_items_item_name {
    font-size: 1.94vh;
    margin-left: 1.04vw;
  }
  .Menu_items_item_icon {
    width: 2.08vw;
  }
}
/*# sourceMappingURL=SideMenu.css.map */