.Clients {
  &__topbar {
    display: flex;
    flex-direction: row;
  }

  &__content {
    display: flex;
    flex-direction: row;

    &-catTiles {
      margin: 2rem 4rem 0rem 0rem;
    }

    &-clientsTiles {
      &-title {
        font-size: 1.3rem;
        font-weight: 300;
        margin: 2rem 0rem;
      }
    }
  }
}
