@import "../../../../common/sass/mixins";
@import "../../../../common/sass/variables";

.DeliveryInfo {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__img {
    height: 1rem;
  }

  &__add-category {
    width: 12rem;
    padding: 0px 10px;
    background: $white;
    color: $black;
    box-shadow: 0px 0px 0px rgb(255, 255, 255);
    text-align: center;
    width: 14rem;
  }

  &__catWrapper {
    display: flex;
    width: 22rem;

    flex-direction: row;
    flex-wrap: wrap;
    &-item {
      display: flex;
      background: $white;
      color: $black;
      padding: 0px 12px;
      text-align: center;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-right: 0.6rem;
      margin-top: 0.5rem;
      height: 2rem;
      align-items: center;
    }
  }

  &__allCatBtn {
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    background: $white;
    color: $main_green;
    padding: 0px 12px;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 2rem;
    align-items: center;
    border: 0rem;
    cursor: pointer;
    font-weight: 300;
  }

  &__allCatBtn-tapped {
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding: 0px 12px;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 2rem;
    align-items: center;
    border: 0rem;
    background: $main_green;
    color: $white;
    cursor: pointer;
    font-weight: 300;
  }
}
