@import "../../../../common/sass/mixins";
@import "../../../../common/sass/variables";

.NewSale {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;

  &__generalInfo {
    max-width: 23rem;
  }

  &__duration {
    font-weight: 400;
  }

  &__photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__button {
    margin-top: 1rem;
    margin-bottom: 1.7rem;
    width: 20rem;
    height: 2.5rem;

    background: #ffffff;
    border: 1px solid #fbfbfb;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
  }

  &__namesale {
    margin-top: 3rem;
  }
  &__descsale {
    margin-top: 1rem;
  }

  &__additionalInfoBtn {
    &-btn {
      margin-right: 1rem;
    }

    &-link {
      margin-top: 1.6rem;
    }
  }

  &__Coupon {
    margin-left: 3rem;
    &-btn {
      margin-right: 1rem;
    }

    &-name {
      margin-top: 1.6rem;
    }
    &-colorbtn {
      width: 3rem;
      height: 3rem;
      opacity: 0.25;
      border-radius: 5px;
      margin-right: 1rem;
      border: 0;
    }
  }
}

@include mobile-sm {
  .NewSale {
    display: flex;
    flex-direction: column;
    margin-top: 1.7rem;
    margin-left: 0.5rem;

    &__button {
      width: 90%;
      height: 2.5rem;
    }

    &__Coupon {
      margin-left: 0rem;
    }
  }
}

@include mobile-md {
  .NewSale {
    display: flex;
    flex-direction: column;
    margin-top: 1.7rem;
    margin-left: 1rem;

    &__button {
      width: 90%;
      height: 2.5rem;
    }

    &__Coupon {
      margin-left: 0rem;
    }
  }
}

@include mobile-lg {
  .NewSale {
    display: flex;
    flex-direction: column;
    margin-top: 1.7rem;

    &__button {
      width: 90%;
      height: 2.5rem;
    }

    &__Coupon {
      margin-left: 0rem;
    }
  }
}

@include desktop {
  .NewSale {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

    &__photos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__additionalInfoBtn {
      margin-right: 10rem;
      // max-width: 13rem;
    }

    &__Coupon {
    }
  }
}
