@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.chooseCompany {
  @include font-light;
  font-size: 26px;
  margin: 20px 0;
  width: 100%;
  text-align: left;
}

.Company {
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    opacity: 0.65;
    transition-duration: 300ms;
    padding: 20px 2px;
    border-bottom: 1px solid $light_grey;

    &_avatar {
      width: 60px;
      height: 60px;
      margin-right: 20px;
      border-radius: 10px;
      box-shadow: $faint-shadow;
    }

    &_avatar_name {
      color: $white;
      font-size: 30px;

      &_container {
        width: 60px;
        height: 60px;
        margin-right: 20px;
        border-radius: 10px;
        box-shadow: $faint-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light_grey;
      }
    }

    &_name {
      @include font-light;
      font-size: 22px;
      word-wrap: break-word;
      max-width: 150px;
    }

    &_arrow {
      width: 30px;
      height: 30px;
    }

    &:hover {
      opacity: 1;
      transition-duration: 300ms;
    }
  }
}

@include tablet {
  .chooseCompany {
    width: 90%;
  }

  .Company {
    width: 90%;

    &__item {
      max-width: 90%;

      &_name {
        min-width: 80%;
      }
    }
  }
}

@include tablet-lg {
  .chooseCompany {
    font-size: 40px;
  }

  .Company {
    width: 90%;

    &__item {
      max-width: 90%;

      &_name {
        font-size: 30px;
      }

      &_avatar {
        min-width: 80px;
        min-height: 80px;
        margin-right: 20px;
        border-radius: 10px;
        box-shadow: $faint-shadow;
      }

      &_avatar_name {
        &_container {
          min-width: 80px;
          min-height: 80px;
          margin-right: 20px;
          border-radius: 10px;
          box-shadow: $faint-shadow;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $light_grey;
        }
      }

      &_arrow {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@include desktop {
  .chooseCompany {
    width: 80%;
  }

  .Company {
    width: 80%;

    &__item {
      max-width: 80%;

      &_name {
        min-width: 80%;
      }
    }
  }
}
