.chooseCompany {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 26px;
  margin: 20px 0;
  width: 100%;
  text-align: left;
}

.Company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
}

.Company::-webkit-scrollbar {
  display: none;
}

.Company__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  opacity: 0.65;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  padding: 20px 2px;
  border-bottom: 1px solid #e5e5e5;
}

.Company__item_avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.Company__item_avatar_name {
  color: #ffffff;
  font-size: 30px;
}

.Company__item_avatar_name_container {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5e5e5;
}

.Company__item_name {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 22px;
  word-wrap: break-word;
  max-width: 150px;
}

.Company__item_arrow {
  width: 30px;
  height: 30px;
}

.Company__item:hover {
  opacity: 1;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

@media (min-width: 768px) {
  .chooseCompany {
    width: 90%;
  }
  .Company {
    width: 90%;
  }
  .Company__item {
    max-width: 90%;
  }
  .Company__item_name {
    min-width: 80%;
  }
}

@media (min-width: 992px) {
  .chooseCompany {
    font-size: 40px;
  }
  .Company {
    width: 90%;
  }
  .Company__item {
    max-width: 90%;
  }
  .Company__item_name {
    font-size: 30px;
  }
  .Company__item_avatar {
    min-width: 80px;
    min-height: 80px;
    margin-right: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }
  .Company__item_avatar_name_container {
    min-width: 80px;
    min-height: 80px;
    margin-right: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e5e5e5;
  }
  .Company__item_arrow {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1200px) {
  .chooseCompany {
    width: 80%;
  }
  .Company {
    width: 80%;
  }
  .Company__item {
    max-width: 80%;
  }
  .Company__item_name {
    min-width: 80%;
  }
}
/*# sourceMappingURL=PickCompany.css.map */