@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery-slide img {
  width: 22.4rem;
}

.Promo__blurblock {
  position: absolute;
  height: 3.6rem;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  top: 72%;
  width: 100%;
  justify-content: space-between;

  &-vacancy {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-left: 1rem;
    padding: 0.4rem;
  }

  &-status {
    padding-right: 1rem;
  }
}

.SalesAddBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;

  &__img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
  }
  &__text {
    background: $white;
    border: 0;
  }
}

.SalesBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__exceptsales {
    margin-top: 1rem;
  }

  &__apsentAdv {
    margin-top: 1rem;
  }
}

.Sale {
  width: 22.4rem;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-top: 2rem;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background: $white;
  overflow: hidden;

  &__image {
    // height: 14rem;
  }

  &__action {
    position: absolute;
    top: 0;
    right: 0;
    background: #fbfbfb;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px;
    z-index: 10;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;

    &-btn {
      background: $white;
      border: 0rem;
      justify-content: center;
      align-items: center;
    }
  }

  &__name {
    margin: 1rem;
  }

  &__date {
    display: flex;
    flex-direction: row;
    margin: 0rem 1rem;
    padding-bottom: 1rem;

    &-img {
      padding-right: 0.5rem;
    }
  }
}

@include mobile-sm {
  .SalesBlock {
    display: flex;
    flex-direction: column;
  }

  .Sale {
    width: 85%;
    margin-right: 0rem;
  }
}
@include mobile-md {
  .SalesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Sale {
    width: 85%;
    margin-right: 0rem;
  }
}

@include desktop {
  .SalesBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .Sale {
    width: 22.4rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .Promo {
    &__image {
      // height: 14rem;
    }
  }
}
