.imagePicker {
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: black; stroke-width: 4; opacity:0.3; stroke-dasharray: 15 10'/></svg>");
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imagePicker_plus {
  width: 20px;
}
/*# sourceMappingURL=style.css.map */