@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

@keyframes slide-left-mobile {
  0% {
    left: 0%;
  }

  100% {
    left: -100%;
  }
}

@keyframes slide-left-table {
  0% {
    left: 0%;
  }

  100% {
    left: -32%;
  }
}

.App {
  overflow-x: hidden;
}

.Auth {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;

  .Button {
    margin-bottom: 0;
  }

  &__info,
  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    width: 200%;
    position: relative;
  }

  &_form_mobile_logged {
    width: 100%;
    position: relative;
  }

  &__form-animated {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200%;
    position: relative;
    animation-name: slide-left-mobile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &__form-ellement {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.5%;
  }

  &__info {
    background-image: url("../../../../public/img/auth_bg.png");
    background-size: cover;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &-logo-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-name {
      @include font-light;
      color: $white;
      font-size: 32px;
      text-align: left;
    }

    &-logo {
      width: 160px;
    }

    &-description {
      color: $white;
      font-size: 24px;
    }
  }

  &__form {
    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
    }

    &-headliner {
      @include font-light;
      font-size: 24px;
      text-align: left;
      width: 100%;
      margin-bottom: 20px;
    }

    &-forgot-password {
      @include font-regular;
      align-self: start;
      cursor: pointer;
      color: $main_green;
      font-size: 12px;
      margin: 10px 0;
    }
  }
}

@include mobile-sm {
  .Auth__info-btnlang {
    position: absolute;
    top: 1vh;
    left: 87vw;
    border: none;
    background: none;
    color: white;
  }
}

@include mobile-md {
  .Auth__info-btnlang {
    position: absolute;
    top: 1vh;
    left: 90vw;
    border: none;
    background: none;
    color: white;
  }
}

@include mobile-lg {
  .Auth__info-btnlang {
    position: absolute;
    top: 1vh;
    left: 94vw;
    border: none;
    background: none;
    color: white;
  }
}

@include tablet {
  .Auth {
    flex-direction: row;
    justify-content: space-between;
    width: 200%;

    &__info {
      max-width: 40.6%;
      width: 40.6%;
      padding: 0 30px;
      z-index: 1;
      box-sizing: border-box;

      &-btnlang {
        position: absolute;
        top: 1vh;
        left: 94vw;
        border: none;
        background: none;
        color: black;
      }
    }

    &__form {
      width: 200%;
      justify-content: flex-start;

      &-form {
        width: 50%;
      }

      &-forgot-password {
        font-size: 18px;
      }
    }

    &__form-animated {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 200%;
      position: relative;
      animation-name: slide-left-table;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    &__form_button {
      align-self: start;
    }

    &__form-ellement {
      padding: 0;
      width: 40%;
    }

    &__info-name {
      font-size: 46px;
    }

    &__form-headliner {
      font-size: 40px;
    }

    &__info-logo {
      width: 180px;
      margin-left: -40px;
    }

    &__info-description {
      font-size: 34px;
    }
  }
}