@-webkit-keyframes slide-left-mobile {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@keyframes slide-left-mobile {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@-webkit-keyframes slide-left-table {
  0% {
    left: 0%;
  }
  100% {
    left: -32%;
  }
}

@keyframes slide-left-table {
  0% {
    left: 0%;
  }
  100% {
    left: -32%;
  }
}

.App {
  overflow-x: hidden;
}

.Auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.Auth .Button {
  margin-bottom: 0;
}

.Auth__info, .Auth__form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Auth__form {
  width: 200%;
  position: relative;
}

.Auth_form_mobile_logged {
  width: 100%;
  position: relative;
}

.Auth__form-animated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 200%;
  position: relative;
  -webkit-animation-name: slide-left-mobile;
          animation-name: slide-left-mobile;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Auth__form-ellement {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5%;
}

.Auth__info {
  background-image: url("../../../../public/img/auth_bg.png");
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.Auth__info-logo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Auth__info-name {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  text-align: left;
}

.Auth__info-logo {
  width: 160px;
}

.Auth__info-description {
  color: #ffffff;
  font-size: 24px;
}

.Auth__form-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.Auth__form-headliner {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.Auth__form-forgot-password {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  cursor: pointer;
  color: #649400;
  font-size: 12px;
  margin: 10px 0;
}

@media (max-width: 349px) {
  .Auth__info-btnlang {
    position: absolute;
    top: 1vh;
    left: 87vw;
    border: none;
    background: none;
    color: white;
  }
}

@media (min-width: 350px) {
  .Auth__info-btnlang {
    position: absolute;
    top: 1vh;
    left: 90vw;
    border: none;
    background: none;
    color: white;
  }
}

@media (min-width: 560px) {
  .Auth__info-btnlang {
    position: absolute;
    top: 1vh;
    left: 94vw;
    border: none;
    background: none;
    color: white;
  }
}

@media (min-width: 768px) {
  .Auth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 200%;
  }
  .Auth__info {
    max-width: 40.6%;
    width: 40.6%;
    padding: 0 30px;
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .Auth__info-btnlang {
    position: absolute;
    top: 1vh;
    left: 94vw;
    border: none;
    background: none;
    color: black;
  }
  .Auth__form {
    width: 200%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .Auth__form-form {
    width: 50%;
  }
  .Auth__form-forgot-password {
    font-size: 18px;
  }
  .Auth__form-animated {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 200%;
    position: relative;
    -webkit-animation-name: slide-left-table;
            animation-name: slide-left-table;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .Auth__form_button {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .Auth__form-ellement {
    padding: 0;
    width: 40%;
  }
  .Auth__info-name {
    font-size: 46px;
  }
  .Auth__form-headliner {
    font-size: 40px;
  }
  .Auth__info-logo {
    width: 180px;
    margin-left: -40px;
  }
  .Auth__info-description {
    font-size: 34px;
  }
}
/*# sourceMappingURL=Auth.css.map */