@import "../../../../common/sass/mixins";
@import "../../../../common/sass/variables";

.Center {
  align-self: center;
}

.Additional {
  padding: 10px;
  &_add {
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-content: center;
    cursor: pointer;
    &_image {
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin-top: 0px;
    }
    &_text {
      margin-left: 10px;
    }
  }
  &_cat {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    &_nameBlock {
      position: relative;
      &_changeType {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 217px;
        top: 25px;
        left: 5px;
        background: #ffffff;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 15px;
        p {
          @include font-light;
          margin: 10px;
          cursor: pointer;
        }
        p:hover {
          color: $main_green;
        }
      }
      &_name {
        font-size: 20px;
        margin-left: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &_trash {
          margin-left: 10px;
          cursor: pointer;
        }
        &_name {
          @include font-light;
        }
        &_action {
          @include font-light;
          margin-left: 5px;
          color: $main_green;
          cursor: pointer;
        }
      }
    }

    &_table {
      display: flex;
      flex-direction: column;
      &_splitter {
        width: 90vw;
        height: 1px;
        background-color: rgba(217, 217, 217, 0.5);
      }
      &_tr {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        &_trash {
          cursor: pointer;
        }
        &_td {
          &_green {
            color: $main_green;
            padding-top: 1.5vh;
            padding-bottom: 0vh;
          }
          width: 30vw;
          padding: 2vw;
          padding-top: 2vh;
          padding-bottom: 2vh;
          &_input {
            width: 23vw;
            border: none;
            :focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}

@include tablet {
  .Additional {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    height: 80vh;
    &_cat {
      width: 35vw;
      &_table {
        &_splitter {
          width: 30vw;
        }
        &_tr {
          &_td {
            width: 8vw;
            &_input {
              width: 8vw;
            }
          }
        }
      }
    }
  }
}
