.Center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.Additional {
  padding: 10px;
}

.Additional_add {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
}

.Additional_add_image {
  width: 20px;
  height: 20px;
}

.Additional_add_text {
  margin-left: 10px;
}

.Additional_cat {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Additional_cat_name {
  font-size: 20px;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Additional_cat_name_name {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.Additional_cat_name_action {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  margin-left: 5px;
  color: #649400;
}

.Additional_cat_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Additional_cat_table_splitter {
  width: 90vw;
  height: 1px;
  background-color: rgba(217, 217, 217, 0.5);
}

.Additional_cat_table_tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Additional_cat_table_tr_td {
  width: 30vw;
  padding: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.Additional_cat_table_tr_td_green {
  color: #649400;
  padding-top: 1.5vh;
  padding-bottom: 0vh;
}

.Additional_cat_table_tr_td_input {
  width: 23vw;
  border: none;
}

.Additional_cat_table_tr_td_input :focus {
  outline: none;
}

@media (min-width: 768px) {
  .Additional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: scroll;
    height: 80vh;
  }
  .Additional_cat {
    width: 35vw;
  }
  .Additional_cat_table_splitter {
    width: 30vw;
  }
  .Additional_cat_table_tr_td {
    width: 8vw;
  }
  .Additional_cat_table_tr_td_input {
    width: 8vw;
  }
}
/*# sourceMappingURL=styles.css.map */