// colors
$main_bg: #fdfdfd;
$white: #ffffff;
$black: #303030;
$main_green: #649400;
$light_green: rgba(100, 148, 0, 0.05);
$light_grey: #e5e5e5;
$disabled_grey: #bdbdbd;

//z-index
$z50: 50;
$z100: 100;
$z150: 150;
$z200: 200;
$z250: 250;
$z300: 300;
$z350: 350;
$z400: 400;
$z450: 450;
$z500: 500;

// shadow
$faint_shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
