@import "../sass/mixins";
@import "../sass/variables";

.ActionButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  padding-right: 1rem;

  &__img {
    width: 1rem;
    height: 1rem;
  }

  &__button {
    font-weight: 300;
    background: $white;
    border: 0px;
    margin: 0;
    border-radius: 15px;
    overflow: hidden;
    color: $black;
    cursor: pointer;
  }
}
