@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Button {
  @include font-light;
  font-size: 14px;
  // width: 70%;
  height: 35px;
  padding: 0 35px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1.5px solid transparent;
  background-color: $main_green;
  color: #ffffff;
  outline: none;
  box-sizing: border-box;
  box-shadow: $faint_shadow;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition-duration: 300ms;
  }

  &_disabled {
    background-color: #ffffff;
    color: $main_green;
    border: 1.5px solid $main_green;
  }

  &_loopLoading {
    animation-name: rotating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  &:active {
    opacity: 0.7;
  }
}

@include tablet {
  .Button {
    height: 45px;
    font-size: 20px;
  }
}
