// common
@import "../../../../node_modules/normalize.css";
@import "_mixins";
@import "_variables";
@import "../fonts/Rubik-Light.ttf";
@import "../fonts/Rubik-Regular.ttf";
@import "../fonts/Rubik-Medium.ttf";

// screens
@import "../../js/Auth/styles/Auth";

// components
@import "./Input.scss";
@import "./Button.scss";

body {
  background-color: $main_bg;
  @include font-light;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}
