.Input {
  width: 100%;
  color: $black;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  &__label {
    margin-bottom: 10px;
    color: $black;
    font-size: 14px;
  }

  &__field {
    outline: none;
    border-radius: 8px;
    width: 100%;
    height: 35px;
    background-color: $white;
    border: 1.2px solid transparent;
    box-shadow: $faint_shadow;
    box-sizing: border-box;
    padding: 2%;

    &:focus {
      border: 1px solid $main_green;
    }

    &::placeholder {
      color: $light_grey;
      font-size: 12px;
    }
  }

  .error {
    border: 1px solid red;
  }
}

.InputIcon {
  width: 100%;
  color: $black;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;

  &__label {
    margin-bottom: 10px;
    color: $black;
    font-size: 12px;
  }

  &__container {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: flex-start;
    align-items: center;
  }

  &__field {
    width: 100%;
    padding-left: 30px;
    outline: none;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    background-color: $white;
    border: 1px solid transparent;
    box-shadow: $faint_shadow;
    box-sizing: border-box;

    &:focus {
      border: 1px solid $main_green;
    }

    &::placeholder {
      color: $light_grey;
      font-size: 14px;
    }
  }

  &__icon {
    position: absolute;
    left: 10px;
    width: 15px;
  }
}

@include tablet {
  .InputIcon {
    &__label {
      font-size: 18px;
    }

    &__field {
      height: 40px;
      font-size: 18px;

      &::placeholder {
        font-size: 18px;
      }
    }
  }
}
