.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.Modal__main {
  position: fixed;
  background: #ffffff;
  width: 25%;
  height: 40%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Modal__title {
  position: absolute;
  top: 4vh;
  font-weight: 400;
}

.Modal__children {
  margin-top: 8vh;
  width: 100%;
}

.Modal__actions {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3.5vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Modal__hide-btn {
  background: #ffffff;
  color: #303030;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
}

.Modal__aprove-btn {
  background: #ffffff;
  color: #649400;
  border-radius: 0px;
  border-bottom-right-radius: 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@media (max-width: 349px) {
  .Modal__main {
    width: 85%;
    height: 35%;
  }
}

@media (min-width: 350px) {
  .Modal__main {
    width: 85%;
    height: 35%;
  }
}

@media (min-width: 1200px) {
  .Modal__main {
    width: 25%;
    height: 40%;
  }
}
/*# sourceMappingURL=Modal.css.map */