@import "./mixins";
@import "./variables";

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10;

  &__main {
    position: fixed;
    background: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__mainPicker {
    // width: 22rem;
    position: fixed;
    background: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    position: absolute;
    top: 2rem;
    font-weight: 400;
  }

  &__children {
    margin-top: 4rem;
    width: 100%;
    margin-bottom: 3rem;
    align-self: center;
    overflow: hidden;
  }

  &__actions {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
  }

  &__hide-btn {
    background: $white;
    color: $black;
    border-radius: 0px;
  }

  .fullButton {
    width: 100%;
    border-bottom-left-radius: 10px;
  }

  &__aprove-btn {
    background: $white;
    color: $main_green;
    border-radius: 0px;
    border-bottom-right-radius: 10px;
    margin-bottom: -0.2rem;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@include mobile-sm {
  .Modal {
    &__main {
      width: 85%;
    }

    &__hide-btn {
      width: 50%;
    }

    &__aprove-btn {
      width: 50%;
    }
  }
}

@include mobile-md {
  .Modal {
    &__main {
      width: 85%;
    }

    &__hide-btn {
      width: 50%;
    }

    &__aprove-btn {
      width: 50%;
    }
  }
}

@include desktop {
  .Modal {
    &__main {
      width: 22rem;
    }

    &__mainPicker {
      width: 22rem;
      height: 29rem;
    }

    &__actions {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
    }

    &__hide-btn {
      background: $white;
      color: $black;
      margin-bottom: -0.2rem;
      border-radius: 0rem;
    }

    &__aprove-btn {
      background: $white;
      color: $main_green;
      border-radius: 0px;
      border-bottom-right-radius: 10px;
      margin-bottom: -0.2rem;
    }
  }
}
