@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.pointer {
  cursor: pointer;
}

.Header {
  display: none;
  flex-direction: row;
  align-items: center;
  width: 83.95vw;
  height: 88px;
  box-shadow: $faint_shadow;
  justify-content: space-between;
  border-radius: 8px;

  &_searchBox {
    display: flex;
    flex-direction: row;
    margin-left: 48px;
    align-items: center;

    &_name { 
        display: none;
    }
  }

  &_name {
    margin-right: 64px;
    font-size: 24px;
    color: $main_green;
  }

  &_verticalSplitter {
    margin-right: 34px;
    width: 1px;
    height: 30px;
    background-color: $disabled_grey;
  }

  &_search {
    margin-right: 20px;
    height: 22px;
  }

  &_input {
    border: none;
    font-size: 20px;
    &:focus {
      outline: none;
    }
  }

  &_companyInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    &_image {
      width: 48px;
      height: 48px;
      border-radius: 5px;
      margin: 15px;
    }

    &_name {
      font-size: 16px;
    }

    &_dropMenu {
      width: 21px;
      margin: 24.5px;
    }
  }
}

@include tablet {
  .Header {
    display: flex;
  }
}

@include desktop {
    .Header {
        &_searchBox {
            &_name {
                display: flex;
            }
        }
    }
}
