.pointer {
  cursor: pointer;
}

.Header {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 83.95vw;
  height: 88px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
}

.Header_searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header_searchBox_name {
  display: none;
}

.Header_name {
  margin-right: 64px;
  font-size: 24px;
  color: #649400;
}

.Header_verticalSplitter {
  margin-right: 34px;
  width: 1px;
  height: 30px;
  background-color: #bdbdbd;
}

.Header_search {
  margin-right: 20px;
  height: 22px;
}

.Header_input {
  border: none;
  font-size: 20px;
}

.Header_input:focus {
  outline: none;
}

.Header_companyInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header_companyInfo_image {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin: 15px;
}

.Header_companyInfo_name {
  font-size: 16px;
}

.Header_companyInfo_dropMenu {
  width: 21px;
  margin: 24.5px;
}

@media (min-width: 768px) {
  .Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .Header_searchBox_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=Header.css.map */