@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.NewAdv {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;

  &__photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__infoSection {
    margin-right: 2rem;
  }

  &__nameadv {
    margin-top: 3rem;
  }

  &__typeBlock {
    margin-top: 2rem;
    &-title {
      font-weight: 500;
      &-thin {
        font-weight: 300;
      }
    }

    &-btns {
      display: flex;
      width: 20rem;
      justify-content: space-between;
      flex-wrap: wrap;
      &-btn {
        margin-top: 1rem;
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        border: 1px;
        font-weight: 300;
      }

      &-btn:focus {
        color: $main_green;
        border-color: $main_green;
      }
    }
  }
}
