@import "../../../common/sass/mixins";
@import "../../../common/sass//variables";

.ClientTile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 45rem;
  margin-bottom: 2rem;

  &__avatar {
    height: 4rem;
    width: 4rem;
    border-radius: 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }

  &__nameSection {
    width: 30rem;
  }

  &__actionsSection {
    display: flex;
    width: 10rem;
    justify-content: space-between;
    // background: red;
  }

  &__action {
    height: 1rem;
    padding: 0.5rem 0.6rem;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;
  }
}
