.Input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Input_name {
  color: #649400;
  font-size: 16px;
}

.Input_input {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  font-size: 16px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 335px;
  resize: vertical;
  background-color: #fdfdfd;
}

.Input_input:focus {
  outline: none;
}

.downLine {
  border-bottom: 1px solid rgba(217, 217, 217, 0.5);
}

.errorInput::-webkit-input-placeholder {
  color: red;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.errorInput:-ms-input-placeholder {
  color: red;
  transition-duration: 400ms;
}

.errorInput::-ms-input-placeholder {
  color: red;
  transition-duration: 400ms;
}

.errorInput::placeholder {
  color: red;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}
/*# sourceMappingURL=Input.css.map */