@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.Input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &_name {
    color: #649400;
    font-size: 16px;
  }
  &_helperText {
    margin-left: 5px;
    margin-top: 5px;
    opacity: 0.5;
    &_error {
      color: red;
    }
  }
  &_input {
    &:focus {
      outline: none;
    }
    transition-duration: 400ms;
    font-size: 16px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 335px;
    resize: vertical;
    background-color: #fdfdfd;
  }
}

.downLine {
  border-bottom: 1px solid rgba(217, 217, 217, 0.5);
}

.errorInput {
  &::placeholder {
    color: red;
    transition-duration: 400ms;
  }
}
