@import "../../../../../common/sass/mixins";
@import "../../../../../common/sass/variables";

.SimpleOrdersBlock {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.PersonContainer {
  display: flex;
  flex-direction: column;
}

.Person {
  display: flex;
  flex-direction: row;
  width: 25rem;
  justify-content: space-between;

  &__wrapper {
    &-avatar {
    }

    &-nameprice {
      margin-left: -1rem;
      &-name {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
      &-price {
        color: $main_green;
      }
    }
  }
  &__btn {
    width: 9rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    border: 0;
    font-weight: 300;
  }
}

.Details {
  width: 25rem;

  &__num {
    margin: 0.7rem 0rem;
    &-lbl {
      font-weight: 400;
    }
  }

  &__label {
    color: #818181;
    margin-bottom: 0.5rem;
  }

  &__separator {
    border: 1px solid rgba(217, 217, 217, 0.5);
    margin-bottom: 1rem;
  }
}

.input {
  margin-bottom: 0.5rem;
}

//products
.ProductsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}
.Product {
  display: flex;
  flex-direction: row;

  width: 25rem;

  border-bottom: 1px solid rgba(217, 217, 217, 0.5);

  &__rightSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
  }

  &__imgWrapper {
  }

  &__img {
    width: 6rem;
    padding-top: 0.6rem;
  }

  &__info {
    padding-top: 0.6rem;
    padding-left: 0.6rem;
    align-self: flex-start;

    &-name {
      display: flex;
      flex-wrap: wrap;
    }
    &-vendor {
      padding-top: 0.6rem;
      padding-bottom: 1rem;
    }
  }
  &__quantprice {
    display: flex;
    flex-direction: row;
    padding-top: 0.6rem;

    &-quant {
      padding-right: 0.2rem;
      color: $main_green;
    }
    &-price {
      color: #bdbdbd;
    }
  }
}
