@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.files {
  display: flex;
  flex-direction: column;
  width: 95%;
  &_image-file {
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
  }
}

.Chat {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
  &_rooms {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    &_room {
      cursor: pointer;
      margin-bottom: 10px;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      &:hover {
        background: rgba(100, 148, 0, 0.03);
      }
      &_active {
        background: rgba(100, 148, 0, 0.05);
      }
      &_picked {
        background: rgba(100, 148, 0, 0.05);
      }
      &_img {
        width: 60px;
        height: 60px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
      }
      &_time {
        font-size: 14px;
      }
      &_info {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_name {
          font-size: 14px;
          font-weight: 600;
        }
        &_lastMessage {
          width: 226px;
          font-size: 14px;
          align-self: center;
          height: 50%;
          @include font-light;
        }
      }
    }
  }
  &_splitter {
    display: none;
    width: 1px;
    height: 85vh;
    margin-top: 10px;
    margin-left: 10px;
    background-color: $disabled_grey;
  }
  &_messenger {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 89vh;
    justify-content: flex-end;
    &_send {
      justify-content: center;
      display: flex;
      align-items: center;
      &_avatar {
        width: 48px;
        height: 48px;
        border-radius: 5px;
      }
      &_files {
        cursor: pointer;
        padding: 23.5px;
        width: 17px;
        height: 19px;
      }
      &_button {
        cursor: pointer;
        width: 26px;
        height: 26px;
        padding-left: 20px;
      }
      &_input {
        &_input {
          &:focus {
            outline: none;
          }
          border: none;
          margin: 5px;
        }
        border: 0.5px solid #cdced2;
        border-radius: 17px;
        background: #fdfdfd;
        width: 480px;
        font-size: 16;
        padding: 5px;
      }
    }
    &_messages {
      overflow-y: scroll;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column-reverse;
      padding-left: 40px;
      padding-right: 40px;
      &_message {
        display: flex;
        flex-direction: row;
        &_to {
          align-self: flex-end;
        }
        &_from {
          align-self: start;
        }
        &_avatar {
        }
        &_info {
          display: flex;
          flex-direction: column;
          background: #ffffff;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          align-items: flex-start;
          &_text {
            padding: 10px;
          }
          &_time {
            align-self: flex-end;
            padding-top: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@include tablet {
  .Chat {
    align-items: flex-start;
    width: auto;
    height: auto;
    justify-content: flex-start;
    &_messenger {
      width: 80vw;
      &_messages {
        padding-left: 100px;
        padding-right: 100px;
      }
    }
  }
}

@include desktop {
  .Chat {
    &_splitter {
      display: flex;
    }
    &_messenger {
      width: 58vw;
    }
  }
}
