.files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
}

.files_image-file {
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
}

.Chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Chat_rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.Chat_rooms_room {
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}

.Chat_rooms_room:hover {
  background: rgba(100, 148, 0, 0.03);
}

.Chat_rooms_room_active {
  background: rgba(100, 148, 0, 0.05);
}

.Chat_rooms_room_picked {
  background: rgba(100, 148, 0, 0.05);
}

.Chat_rooms_room_img {
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.Chat_rooms_room_time {
  font-size: 14px;
}

.Chat_rooms_room_info {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Chat_rooms_room_info_name {
  font-size: 14px;
  font-weight: 600;
}

.Chat_rooms_room_info_lastMessage {
  width: 226px;
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50%;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.Chat_splitter {
  display: none;
  width: 1px;
  height: 85vh;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #bdbdbd;
}

.Chat_messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 89vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Chat_messenger_send {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Chat_messenger_send_avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
}

.Chat_messenger_send_files {
  cursor: pointer;
  padding: 23.5px;
  width: 17px;
  height: 19px;
}

.Chat_messenger_send_button {
  cursor: pointer;
  width: 26px;
  height: 26px;
  padding-left: 20px;
}

.Chat_messenger_send_input {
  border: 0.5px solid #cdced2;
  border-radius: 17px;
  background: #fdfdfd;
  width: 480px;
  font-size: 16;
  padding: 5px;
}

.Chat_messenger_send_input_input {
  border: none;
  margin: 5px;
}

.Chat_messenger_send_input_input:focus {
  outline: none;
}

.Chat_messenger_messages {
  overflow-y: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-left: 40px;
  padding-right: 40px;
}

.Chat_messenger_messages_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Chat_messenger_messages_message_to {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.Chat_messenger_messages_message_from {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.Chat_messenger_messages_message_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Chat_messenger_messages_message_info_text {
  padding: 10px;
}

.Chat_messenger_messages_message_info_time {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-top: 10px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .Chat {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: auto;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .Chat_messenger {
    width: 80vw;
  }
  .Chat_messenger_messages {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1200px) {
  .Chat_splitter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Chat_messenger {
    width: 58vw;
  }
}
/*# sourceMappingURL=Chats.css.map */